@import url("nav.css");

.container {
  width: 100%;
  max-width: 1200px;
  /* height: 430px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  font-family: "Poppins", sans-serif;
  min-height: calc(100vh - 100px - 300px);
}

.container .card {
  width: 230px;
  height: 370px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}

.container .card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img {
  width: 230px;
  height: 270px;
}

.container .card h4 {
  font-weight: bold;
}

.container .card p {
  padding: 0 1rem;
  font-size: 14px;
}
.container .card input {
  font-weight: 200;
  text-decoration: none;
  color: white;
  padding: 5px 20px;
  margin-top: 5px;

  background-color: #ee119d;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: all 300ms;
  font-family: "Ubuntu", sans-serif;
}

.container .card input:hover {
  background: #b804b8;
}

/* *{
    box-sizing: border-box;
}


.container{
    display: flex;
    height: 300px;
    justify-content: center;
    background-color: blueviolet;
    padding: 10px;
    border: 2px solid black;
}

.container div{
    background-color: beige;
    width: 190px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border: 2px solid black;
} */
/*VENTANA MODAL */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
}
.modal-container {
  position: relative;
  margin: auto;
  width: 90%;
  max-width: 600px;
  max-height: 100%;
  background-color: #fff;
  border-radius: 6px;
  padding: 3em 2.5em;
  display: grid;
  gap: 1em;
  place-items: center;
  grid-auto-columns: 100%;
}
.title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
}
.paragraph {
  text-align: center;
  margin-bottom: 1rem;
}
.modal-img {
  width: 50%;
  max-width: 200px;
}
.btns {
  display: flex;
  gap: 15px;
}
.btns > a {
  text-decoration: none;
  padding: 1rem;
  border-radius: 0.3rem;
  color: #fff;
  font-weight: 400;
}
.btns .open-view {
  color: #222;
  background-color: #e6e6e6;
  border: solid thin gray;
}
.btns .open-guide {
  background-color: #ee119d;
  width: 145px;
  text-align: center;
  font-weight: bold;
}

.btns .open-guide-disabled {
  background-color: #a17f95;
  width: 145px;
  text-align: center;
  font-weight: bold;
  pointer-events: none;
  cursor: default;
}
.close {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 2rem;
  text-decoration: none;
}

/*Footer*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.pie-pagina {
  width: 100%;
  background-color: pink;
}

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
  width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
  color: white;
  margin-bottom: 25px;
}

.pie-pagina .grupo-1 .box p {
  color: #2e001f;
  margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: white;
  margin-right: 10px;
  background-color: #ee119d;
  text-align: center;
  border-radius: 8px;
  transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
  color: #810eec;
}

.pie-pagina .grupo-2 {
  background-color: #e65db8;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.pie-pagina .grupo-2 small {
  font-size: 15px;
}

@media screen and (max-widht: 800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}
